.App {
  font-family: 'Cinzel Decorative', cursive;
  background: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
}

.article {
  padding: 30px 20px;
}

.avatar {
  height: 80px;
}

.avatar img {
  border-radius: 50%;
  height: 80px;
  display: inline-block;
  margin-top: -24px;
}

.author-info {
  display: inline-block;
  padding: 10px;
}

.author-info p {
  margin: 0;
  padding: 5px 0;
  color: #666;
}

.article-title {
  font-weight: 700;
  color: #333;
}

.article-body {
  margin-top: 30px;
}

.article-start {
  font-weight: 700;
  font-size: 3em;
  line-height: 1em;
}

.interject {
  font-size: 1.5em;
  font-weight: 700;
  border-left: 4px solid #CFB53B;
  padding-left: 10px;
  color: #333;
  margin: 20px 0;
}

.gold {
  color: #CFB53B;
}

.article-links {
  margin: 30px 0 0 0;
}

.article-link {
  display: inline-block;
  background-color: #CFB53B;
  font-weight: 700;
  color: white;
  width: 12em;
  margin-right: 20px;
}

.article-link:hover {
  background-color: #E9CF55;
  color: white;
}

.article-link:hover i {
  background-color: #CFB53B;
}

.article-link i {
  display: inline-block;
  background-color: #B69C22;
  line-height: 2em;
  padding: 0 .6em;
}

.article-link-text {
  padding-left: 5px;
}

aside {
  padding: 30px;
  background-color: rgba(207,181,59,.1);
}

.ad h3 {
  text-align: center;
  font-weight: 700;
  color: #333;
}

.ad img {
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
}

.ad a {
  color: #666;
}

.ad a:hover {
  color: #333;
}

.ad h4 {
  font-weight: 700;
  color: #333;
  margin-top: 20px;
  font-size: 1.2em;
}

.ad-image {
  text-align: center;
}

.ad-image a {
  display: block;
}

.ad-text {
  font-size: .8em;
  color: #666;
}

.other-articles {
  border-top: 1px solid #ccc;
  background-color: rgba(207,181,59,.1);
  padding: 0;
}

.other-articles h2 {
  text-align: center;
  margin: 1em 0;
  font-weight: 700;
  color: #333;
}

.other-article {
  position: relative;
  padding: 0;
  text-align: right;
}

.other-article p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: .5em;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  opacity: .9;
  text-shadow: 0 0 5px black;
}

.other-article img {
  opacity: .8;
  min-width: 100%;
}

.other-article:hover img {
  opacity: 1;
}

.other-article:hover p {
  opacity: 1;
}

footer {
  height: 4em;
  background-color: #333;
  border-top: 1px solid #666;
}

footer h6 {
  color: #666;
  line-height: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: inline-block;
}

