.article {
  padding: 30px 20px;
}

.avatar {
  height: 80px;
}

.avatar img {
  border-radius: 50%;
  height: 80px;
  display: inline-block;
  margin-top: -24px;
}

.author-info {
  display: inline-block;
  padding: 10px;
}

.author-info p {
  margin: 0;
  padding: 5px 0;
  color: #666;
}

.article-title {
  font-weight: 700;
  color: #333;
}

.article-body {
  margin-top: 30px;
}

.article-start {
  font-weight: 700;
  font-size: 3em;
  line-height: 1em;
}

.interject {
  font-size: 1.5em;
  font-weight: 700;
  border-left: 4px solid #CFB53B;
  padding-left: 10px;
  color: #333;
  margin: 20px 0;
}