footer {
  height: 4em;
  background-color: #333;
  border-top: 1px solid #666;
}

footer h6 {
  color: #666;
  line-height: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: inline-block;
}